<launch>


    <node pkg="novatel" type="novatel_node" name="leader">
    </node>


    <node pkg="novatel" type="novatel_node" name="follower">
    </node>


    <node pkg="drtk" type="drtk_node" name="drtk">
    </node>


    <node pkg="tdcp" type="tdcp_node" name="tdcp">
        <remap from="ephemeris" to="follower/ephemeris"/>
        <remap from="range" to="follower/range"/>
        <rosparam   name="threshold"    value="9"/>
        <param      name="min_obs"      value="3"/>
        <param      name="frame_id"     value="follower"/>
        <param      name="gps_id"       value="follower"/>
        <param      name="msg_buffer"   value="10"/>
    </node>


    <node pkg="leader_follower" type="leader_follower_node" name="lf">
    </node>


</launch>